.dashboardContainer {
    margin-top: 100px;
    border: 2px solid grey;
    color: white;
}

// .fadeIn {
//     opacity: 1;
//     transition: opacity 0.25s ease-in;
// }

// .fade-out {
//     opacity: 0;
//     transition: opacity 0.5s ease-in-out;
// }

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeInAnimation {
    animation: fadeIn 0.5s ease-in-out;
}